{% extends "djpaste/base.html" %}

{% block title %}Django Pastebin{% endblock %}

{% block content %}
    <div class="row pt-5">
        <div class="col">

            <div class="row">
                {% if paste.syntax_highlighting and paste.syntax_highlighting.strip %}
                    <div class="col-12">
                        <pre><code class="language-{{ paste.syntax_highlighting }}">{{ paste.text }}</code></pre>
                    </div>

                {% else %}
                    <div class="col-12">
                        <label>{{ paste.paste_name }}</label>
                        <textarea name="text" cols="40" rows="10" class="form-control" required=""
                                  id="id_text">{{ paste.text }}</textarea>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}